<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Portal Contador FTP</title>
<link rel="icon" type="image/png" href="img/logo.png" />
</head>
<body>
	<header th:insert="partials/partials.html :: header">
	</header>
	<div class="downloadcomplite">
		<h2>A pasta foi baixada na sua área de trabalho com o nome do CNPJ da empresa.</h2>
	</div>
	<footer th:insert="partials/partials.html :: footer"> </footer>
</body>
<script type="text/javascript">
	setTimeout(window.close, 5000)
</script>
</html>